*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Sublime project files 
*.sublime-project
*.sublime-workspace

#MACK shiz
.DS_Store

build
dist
src/resources/lwjgl/*
LPTC_Full.jar
ants/*
ants

src/me/paulrose/lptc/simulator/MoveableEntity.java

src/me/paulrose/lptc/simulator/Ant.java
